:root {
    --main-bg-color: black;
    --main-bg-color2: #6f1107;
    --font1: 'Robot', sans-serif, cursive;
    --font2: 'Baloo Bhaina', sans-serif;
    --font3: "Italianno", cursive;
    ;
    --font4: "Playwrite CU", cursive;
}

.contact {
    text-align: center;
    margin: 50px 0;
}

.contact h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: black;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form input,
.contact-form textarea {
    width: 40%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #bdc3c7;
    border-radius: 5px;
}

.contact-form button {
    padding: 12px 30px;
    background-color: var(--main-bg-color2);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 25px;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #c0392b;
}

/* Flex container to align info and image side by side */
.contact-info-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
    margin-top: 54px;
}

.contact-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.info-box {
    background-color: var(--main-bg-color2);
    padding: 20px;
    margin-right: 10px;
    border-radius: 35px;
    color: white;
    flex: 1;
    text-align: center;
}

.contact-image {
    width: 25%;
    margin-left: 20px;
}

.contact-image img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.contact img {
    height: 24vh;

}